@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.BodyHome-Container {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
}

.BodyHome-Container>h1 {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.HomeImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-gap:0 10em ;
}

.HomeImages > img {
    width: 10em;
    margin-left: 1em;
    margin-right: 1em;
}

#Subway{
    align-self: center;
}