@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.PrincipalImageContainer{
    background-image: url("../IMGs/PrincipalImage.jpeg");
    width: 100%;
    height: 35rem;
}

.PrincipalTextContainer{
    position: absolute;
    margin-top: 12em;
    margin-left: 5em;
    max-width: 50%;
}
.PrincipalTextContainer > h1{
    
    color: white;
    font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 6em;
text-transform: uppercase;
color: #F1E8DB;

}